################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DC_Assignment2C/v17/.wsuo
/.vs/DC_Assignment2C/v17/DocumentLayout.json
/.vs/WebServer/FileContentIndex/35e5af04-dc88-4840-adf2-d0b9e1d695f7.vsidx
/.vs/WebServer/FileContentIndex/8a2175dd-b0a9-4d9d-bf6b-86d0ccf2e739.vsidx
/.vs/WebServer/FileContentIndex/50f0f8bf-0207-488e-b605-892bd3208fd5.vsidx
/.vs/WebServer/FileContentIndex/a08dec0f-e2fb-425c-98c0-0323ad0700b8.vsidx
